flask
flask_session
numpy
Pillow
Flask_Cors
flask_login
python_dateutil
scipy
scikit_image==0.18.3
kneed
scikit_learn
SQLAlchemy
sqlalchemy_utils
python-dotenv
mysql
mysql-connector-python
bcrypt
Werkzeug
matplotlib
google-auth