Werkzeug==2.0.1
scikit_image==0.18.3
scipy==1.7.1
numpy==1.21.2
Flask_Cors==3.0.10
matplotlib==3.4.3
kneed==0.7.0
mock==4.0.3
Pillow==8.3.2
protobuf==3.18.0
Pygments==2.10.0
python-dotenv==0.19.0
python_bcrypt==0.3.2
python_dateutil==2.8.2
scikit_learn==1.0
semantic_version==2.8.5
SQLAlchemy==1.4.25
sqlalchemy_utils==0.37.8
unittest2==1.1.0
mysql
mysql-connector-python
functools
flask-login
bcrypt
google-auth
